<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheDirectory=".phpunit.cache"
        extensionsDirectory="."
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="var/coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="var/coverage.txt"/>
        </report>
    </coverage>
</phpunit>
