<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    </php>

    <testsuites>
        <testsuite name="Unit_1">
            <directory>tests/Unit/Command</directory>
            <directory>tests/Unit/Entity</directory>
            <directory>tests/Unit/EventListener</directory>
            <directory>tests/Unit/Form</directory>
            <directory>tests/Unit/Helpers</directory>
            <directory>tests/Unit/Message</directory>
        </testsuite>
        <testsuite name="Unit_2">
            <directory>tests/Unit/Repository</directory>
            <directory>tests/Unit/Security</directory>
            <directory>tests/Unit/Serializer</directory>
            <directory>tests/Unit/Service</directory>
            <directory>tests/Unit/Validator</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
<!--        <testsuite name="Integration">-->
<!--            <directory>tests/Integration</directory>-->
<!--        </testsuite>-->
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/DataFixtures</directory>
            <directory suffix=".php">src/Factory</directory>
            <directory suffix=".php">src/Controller/Admin</directory>
            <directory suffix=".php">src/Command/test</directory>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <extensions>
        <extension class="App\Tests\Hook\MockFinalClassHook"/>
    </extensions>
</phpunit>
